AbilityIcon {
    .ability {
        gap: 12px;
        padding: 10px;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-content: center;
        font-family: "Quantico";
        font-weight: 200;

        InputHint, InputAnalogHint {
            margin-top: 10px;
            position: absolute;
            bottom: -15px;
            width: 75px;
            background-color: rgba(0,0,0,0.5);
            z-index: 10;
        }

        .title {
            font-size: 15px;
            color: #FF0000;
            position: absolute;
        }

        .input {
            font-size: 15px;
            font-weight: 800;
            color: white;
            position: absolute;
            left: 15%;
            bottom: 12%;
        }

        .ammo {
            font-size: 28px;
            font-weight: 800;
            color: white;
            height: 26px;
            text-align: center;
            text-shadow: 2px 2px 2px #000000;
        }

        .icon {
            width: 75px;
            aspect-ratio: 1;
            background-size: contain;
            border: 2px solid rgba(255,255,255,1);
            z-index: 12;

            &.cooldown {
                background-tint: rgba(100,50,200,100);
            }
        }

        .coolingdown {
            position: relative;
            width: 100%;

            &.cooldown {
                border-bottom: 2px solid rgba(100,100,255,1);
            }

            height: 100%;
            bottom: 100%;
            z-index: 5;
        }

        .cooldowntext {
            text-shadow: 2px 2px 2px #000000;
            font-size: 30px;
            display: none;
            color: white;
            font-family: "Quantico";
            font-weight: 800;
            position: absolute;
            z-index: 15;
            top: 48%;

            &.cooldown {
                display: flex;
            }
        }
    }
}
