AbilityUI {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    pointer-events: none;

    .abilities {
        position: absolute;
        flex-direction: row;
        left: 50%;
        transform: translate( -50% -0% );
        bottom: 5%;

        AbilityIcon {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
    }
}
