AbilityIcon {
    .ability {
        gap: 12px;
        padding: 10px;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .title {
            font-size: 15px;
            font-family: Poppins;
            color: #FF0000;
            position: absolute;
        }

        .input {
            font-size: 15px;
            font-family: Roboto;
            font-weight: 800;
            color: white;
            position: absolute;
            left: 15%;
            bottom: 12%;
        }

        .ammo {
            font-size: 28px;
            font-family: Roboto;
            font-weight: 800;
            color: white;
            height: 26px;
            font-family: "Major Mono Display";
            text-align: center;
            text-shadow: 2px 2px 2px #000000;
        }

        .icon {
            width: 75px;
            aspect-ratio: 1;
            background-size: contain;
            border: 2px solid rgba(255,255,255,1);

            &.cooldown {
                background-tint: rgba(100,50,200,100);
            }
        }

        .coolingdown {
            position: absolute;
            width: 100%;

            &.cooldown {
                border-bottom: 2px solid rgba(100,100,255,1);
            }

            height: 100%;
            bottom: 100%;
            z-index: 5;
        }
    }
}
