@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="items">
		<div class="item coingradient">
			<div class="icon" style="background-image: url(ui/mainui/coin.png)"></div>
			<div class="amount">@Stats.PlayerCoinsAndXp[Stats.CoinsAndXp.Coins]</div>
		</div>
		<div class="item hxrgradient">
			<div class="icon" style="background-image: url(ui/mainui/hrkcoin.png)"></div>
			<div class="amount">10</div>
		</div>
	</div>
</root>

@code
{
	[Property] public Stats Stats { get; set; }

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(Stats.PlayerCoinsAndXp[Stats.CoinsAndXp.Coins]);
}
