@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<root>
		<div class="health-bar">
			<div class="bg"></div>
			<div class="lvl">
				<div class="lvltxt">LV: @_playerStats.CurrentLevel</div>
				<div class="lvlbar">
					<div class="inner-delay" style="@GetXpBar()"></div>
					<div class="inner" style="@GetXpBar()"></div>
				</div>
			</div>
			<div class="bar">50/100</div>
		</div>
	</root>
</root>

@code
{
	PlayerStats _playerStats;

	protected override void OnAwake()
	{
		_playerStats = Components.Get<PlayerStats>(FindMode.InParent);

		Log.Info(_playerStats);
	}

	string GetXpBar()
	{
		//Turn the current xp into the width of the bar
		return $"width: {(_playerStats.PlayerCoinsAndXp[PlayerStats.CoinsAndXp.Xp] / (float)PlayerStats.MaxExperienceForLevel(_playerStats.CurrentLevel)) * 100}%";
	}

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( Time.Delta );
}
