ItemsUIToolTip {
    color: white;
    position: absolute;
    right: 400px;
    min-width: 300px;
    padding: 20px;
    font-family: "Quantico";
    font-weight: 200;
    font-weight: 800;
    pointer-events: none;
    transition: all 0.2s ease-in-out;

    .container {
        left: 10px;
        bottom: 50px;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding: 10px;

        .info {
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: flex-start;

            .header {
                align-content: center;
                justify-content: flex-start;
                align-items: center;
                background-color: rgba(255,255,0,.5);
                width: 100%;
                padding: 10px;

                .icon {
                    width: 60px;
                    height: 60px;
                    background-size: cover;
                    background-image: url( ui/mainui/item_bg_01.png );
                    border: 1px solid #ccc;
                }

                .text {
                    flex-direction: column;
                    padding: 10px;

                    .rarity {
                        font-size: 12px;
                    }

                    .title {
                        font-size: 28px;
                    }
                }
            }

            .description {
                font-size: 18px;
                opacity: .5;
                background-color: rgba(0,0,0,.5);
                width: 100%;
                padding: 10px;
            }
        }


        .buff {
            flex-direction: row;

            .text {
            }
        }
    }

    &:intro {
        transform: translateX(-132px);
        opacity: 0;
    }

    &:outro {
        transform: scaleY( 0 );
        opacity: 0;
    }
}
