@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@attribute [StyleSheet]

@namespace RogueFPS

<root class="ItemPickUp">
	<div class="item">
			<InputHint Size=@InputGlyphSize.Small @Action="use" />
		<div class="ItemName">@_ItemName</div>
		<div class="ItemName @(_HasPrice? "":"priced")" style="color:orange;">[$@_Cost]</div>
		</div>

	</div>	
</root>

@code
{
	public BaseItem _Item { get; set; }
	public string _ItemName { get; set; }
	public int _Cost { get; set; }
	public bool _HasPrice { get; set; }


	public ItemPickUp(string item, int cost, bool hasprice)
	{
		_ItemName = item;
		_Cost = cost;
		_HasPrice = hasprice;
	}

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(Time.Now);
}
