@using Sandbox.UI
@using Sandbox

@inherits Panel
@namespace RogueFPS.UI

<root class="body column">
	<div class="characterselect">
	@foreach (var character in Characters)
	{
		<div class="character">
				<div class="icon" style="background-image: url('@character.Icon');" onclick=@(() => SelectCharacter( character))></div>
		</div>
	}
	</div>
	<div class="info-section">
		<div class="selection">
			<div class="name">@SelectedCharacter.CharacterName</div>
			<div class="description">@SelectedCharacter.CharacterDescription</div>
		</div>
	</div>
    <div class="with-small-gap column">
        <a class="button" href="/">
            RETURN
        </a>
    </div>
</root>

@code
{
	List<CharacterResource> Characters = new();
	CharacterResource SelectedCharacter;

	public SingleplayerPage()
	{
		Characters = ResourceLibrary.GetAll<CharacterResource>().ToList();
	}

	void SelectCharacter(CharacterResource character)
	{
		SelectedCharacter = character;
	}

    void Save()
    {
        this.Navigate("/");
    }
}
