@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="container">
		@if (IsText)
		{
			<div class="cost @(Near? "broke" : "")">@Text</div>
		}
		else
		{
			<div class="cost @(Near? "broke" : "")">$@Value</div>
		}
	</div>
</root>

@code
{
	public bool Near { get; set; }

	public bool IsText { get; set; } = false;
	public int Value { get; set; } = 1;
	public string Text { get; set; } = "";

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(Value);
}
